ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    padding-top: 5px;
    
}  

ul li{
    display: inline;
    width: 0%;
    flex: 1; 
    text-decoration: none;
}

.nav-container-2{
    text-align: center;
    padding-top: 5px;

}